{% extends 'ProjectSiteBundle::base.html.twig' %}
{% block title %}Города - Moorooso{% endblock%}


{% block body %}
    <table>
        <thead>
            <tr>
                <th>Полное название города</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for city in cities %}
                <tr>
                    <td>{{city.country.name}}, {{city.name}}</td>
                    <td><a href="/moorooso/city/{{city.id}}">Узнать больше</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
