{% extends 'ProjectSiteBundle::base.html.twig' %} {% block title %}Личный кабинет - Moorooso{% endblock%}

{% block body %}
<h2>Добро пожаловать в личный кабинет, {{app.user.username}}.</h2>
<a href="{{ path('ProjectSiteBundle_travelagent_personal_account') }}" class="button">Аккаунт</a>
<a href="{{ path('ProjectSiteBundle_travelagent_personal_panel') }}" class="button">Панель турагента</a>
{% endblock %}
